.clipsComponent {
  flex-direction: column;
  width: 100%;
}

.samplesWrapper {
  display: flex;
}
.samplesWrapper div {
  flex-grow: 1;
}

.clipList {
  flex-basis: 33%;
}

.clipEditor {
  flex-basis: 67%;
  display: flex;
}

.clipEditor div {
  flex-grow: 1;
}

.sampleList {
  height: 20em;
}

.listSelected {
  border: 1px solid blue;
}

input[type="range"].verticalSlider {
  writing-mode: vertical-lr;
  direction: rtl;
}

/* .chartWrapper { */
/*   aspect-ratio: 2/1; */
/* } */
